.cart{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-container{
    width: 80%;
    height: 50%;
    border: 2px solid black;
    padding: 20px;
    background-color: beige;
}