.navbar-container {
    width: 100%;
    background-color: #f57224;
    height: 70px;
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.home {
    margin: 0;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.search-container {
    flex-grow: 1;
    max-width: 400px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 1rem;
    background-color: #fff;
    color: #333;
}

.cart {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cart-icon {
    color: whitesmoke;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.cart-quantity {
    background-color: white;
    color: black;
    font-weight: 500;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 900px) {
    .navbar-container {
        height: 60px;
        font-size: 1rem;
    }

    .search-container {
        max-width: 250px;
    }

    .cart-quantity {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 0.8rem;
    }

    .search-container input {
        width: 100%;
        border: none;
        outline: none;
        padding: 6px 10px;
        border-radius: 20px;
        font-size: 0.8rem;
        background-color: #fff;
        color: #333;
    }
}